<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new</title>
</head>

<body>
    <form method="post" action="/listing">
        <input type="text" name="title" placeholder="title"><br>
        <textarea  name="description" placeholder="description"></textarea><br>
        <input type="text" name="image_name" placeholder="image_name"><br>
        <input type="text" name="image_url" placeholder="image_url"><br>
        <input type="text" name="price" placeholder="price"><br>
        <input type="text" name="location" placeholder="location"><br>
        <input type="text" name="country" placeholder="country"><br>
        <input type="submit" name="SUBMIT" id=""><br>
    </form>
</body>

</html>